@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 18% 5%;
    --foreground: 210 2% 78%;
    --card: 208 25% 16%;
    --card-foreground: 210 2% 78%;
    --popover: 208 25% 16%;
    --popover-foreground: 210 2% 78%;
    --primary: 177 96% 69%;
    --primary-foreground: 220 18% 5%;
    --secondary: 208 25% 16%;
    --secondary-foreground: 210 2% 78%;
    --muted: 208 25% 20%;
    --muted-foreground: 210 2% 60%;
    --accent: 177 39% 45%;
    --accent-foreground: 220 18% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 25% 22%;
    --input: 208 25% 22%;
    --ring: 177 96% 69%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}
